body{
    background-color: grey;
    display: grid;
    grid-template-rows: 80px auto 80px;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

header{
    grid-area: header;
}

header > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 5px solid black;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

aside img{
    width:80%;
}


footer{
    grid-area: footer;
}

footer > p{
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 5px black solid;
    border-bottom: 5px solid black;
}

h1{
    font-family: Arial;
    font-size: 22px;
    text-align: center;
}

h2{
    text-align: center;
    color:black;
    background-color: grey;
}

.program{
    text-align: center;
    color: black;
    background-color: grey;
}

.tankar{
    text-align: right;
}

.ommig{
    border-style: solid;
}





table {
    width: 35%;
    font-family: Arial;
}

.processorer, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

.yer {
    width: 25%;
}

tr:nth-child(2) {
    background-color: blue;
    color: white;
}
tr:nth-child(4) {
    background-color: blue;
    color: white;
}
tr:nth-child(3) {
    background-color: red;
    color: white;
}
tr:nth-child(5) {
    background-color: red;
    color: white;
}
tr:nth-child(1) {
    background-color: white;
}

.namn {
    text-align: left;
}

.at {
    text-align: right;
}

.kf {
    text-align: center;
}

.yr {
    text-align: center;
}

.mitten {
    height: 100px;
    background-color: yellow;
}

.an {
    height: 100px;
    background-color: red;
}

.fae {
    background-color: rgb(39, 95, 197);
}

.fat {
    background-color: black;
}

.fak {
    height: 100px;
    background-color: green;
}

.färgglad {
    border-collapse: collapse;
}

