* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas: 
    "header nav"
    "article aside";
}

header {
    grid-area: header;
    height: 50vh;
    width: 50vw;
    background-color: red;
}

h1 {
    font-size: 5vw;
    text-align: center;
}

nav {
    grid-area: nav;
    height: 50vh;
    width: 50vw;
    background-color: blue;
}

article {
    grid-area: article;
    height: 50vh;
    width: 50vw;
    background-color: green;
}

aside {
    grid-area: aside;
    height: 50vh;
    width: 50vw;
    background-color: yellow;
}